<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/all.min.css" />
    <link rel="stylesheet" href="/stylesheets/seekerdashboard.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&amp;display=swap"
      rel="stylesheet"
    />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="loader">
      <h1>Loading<span>....</span></h1>
    </div>
    <div class="page-content index-page">
      <div class="sidebar">
        <div class="brand">
          <i class="fa-solid fa-xmark xmark"></i>
          <h3 class="brand-name">Seeker</h3>
        </div>
        <ul>
          <li class="home1">
            <a href="index.html" class="sidebar-link">
              <i class="fa-solid fa-house"></i>
              <span>Home</span>
            </a>
          </li>

          <li>
            <a href="./pages/Profile.html" class="sidebar-link">
              <i class="fa-solid fa-user"></i>
              <span>Profile</span>
            </a>
          </li>

          <li>
            <a href="./pages/Activites.html" class="sidebar-link">
              <i class="fa-solid fa-chart-line"></i>
              <span>Activities</span>
            </a>
          </li>

          <li>
            <a href="./pages/Latest-event.html" class="sidebar-link">
              <i class="fa-solid fa-calendar-days"></i><span>Latest event</span>
            </a>
          </li>

          <li>
            <a href="./pages/Application.html" class="sidebar-link">
              <i class="fa-solid fa-diagram-project fa-fw"></i
              ><span>Application</span>
            </a>
          </li>

          <li>
            <a href="./pages/payment.html" class="sidebar-link">
              <i class="fa-regular fa-money-bill-1"></i>
              <span>Payment</span>
            </a>
          </li>

          <li>
            <a href="./pages/settings.html" class="sidebar-link">
              <i class="fa-solid fa-gear fa-fw"></i
              ><span>Settings</span>
            </a>
          </li>

          <li>
            <a href="./pages/message.html" class="sidebar-link">
              <i class="fa-solid fa-message"></i> <span>messages</span>
            </a>
          </li>

          <li>
            <a href="./pages/help.html" class="sidebar-link">
              <i class="fa-solid fa-handshake-angle"></i><span>Help & Support</span>
            </a>
          </li>
          <li>
           
            <button class="wurkify-custom-button">LogOut</button>

          
          </li>
        </ul>
      </div>
      <main>
        <div class="header">
          <i class="fa-solid fa-bars bar-item"></i>
          <div class="search">
            <input type="search" placeholder="Type A Keyword" />
          </div>

          <div class="profile">
            <span class="bell"><i class="fa-regular fa-bell fa-lg"></i></span>

            <img src="/images/avatar.png" alt="No Image" />
          </div>
        </div>
        <div class="main-content">
          <div class="title">
            <h1>Dashboard</h1>
          </div>
          <div class="main-content-boxes">
            <div class="box first-box">
              <div class="box-section1">
                <div class="box-title">
                  <h2>Welcome</h2>
                  <p>Zana</p>
                </div>
                <div class="box-image">
                  <img src="/images/welcome.png" alt="No image" />
                </div>
                <img src="/images/avatar.png" alt="No image" class="avatar" />
              </div>
              <div class="box-section2">
                <ul>
                  <li>
                    <span>Zana Suleiman</span>
                    <p>Developer</p>
                  </li>
                  <li>
                    <span>80</span>
                    <p>Projects</p>
                  </li>
                  <li>
                    <span>$8500</span>
                    <p>Earned</p>
                  </li>
                </ul>
              </div>
              <a href="./pages/Profile.html">Profile </a>
            </div>

            <div class="box">
              <div class="box-section1">
                <div class="box-title">
                  <h2>Your Progress</h2>
                  <p>Targets Of The Year</p>
                </div>
              </div>
              <div class="third-box-section2">
                <div class="third-box-section2-details">
                  <div class="icon">
                    <i class="fa-solid fa-dollar-sign fa-lg"></i>
                  </div>
                  <div class="third-box-info">
                    <ul>
                      <li>Money</li>
                      <li>$20.000</li>
                      <li>
                        <span><span class="tipTop">80%</span></span>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="third-box-section2-details">
                  <div class="icon">
                    <i class="fa-solid fa-code fa-lg"></i>
                  </div>
                  <div class="third-box-info">
                    <ul>
                      <li>No. of Events</li>
                      <li>24</li>
                      <li>
                        <span><span class="tipTop">55%</span></span>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="third-box-section2-details">
                  <div class="icon">
                    <i class="fa-solid fa-user fa-lg"></i>
                  </div>
                  <div class="third-box-info">
                    <ul>
                      <li>Rating</li>
                      <li>12</li>
                      <li>
                        <span><span class="tipTop">75%</span></span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="box">
              <div class="box-section1">
                <div class="box-title">
                  <h2>Latest Events</h2>
                  <p>Everything About Your Latest</p>
                </div>
              </div>
              <div class="fourth-box-section2">
                <div class="event-card">
                  <div class="event-content">
                    <span>Mumbai Festival (MAMI)</span>
                      <p>20</p>
                      <div class="event-status">
                          <!-- Event status like Pending, Closed, Deleted -->
                      </div>
                  </div>
              </div>

                <div class="small-box">
                  <i class="fa-solid fa-spinner fa-2x mb-10"></i>
                  <span>500</span>
                  <p>Pending</p>
                </div>

                <div class="small-box">
                  <i class="fa-regular fa-circle-check fa-2x mb-10"></i>
                  <span>1900</span>
                  <p>Closed</p>
                </div>

                <div class="small-box">
                  <i class="fa-regular fa-rectangle-xmark fa-2x mb-10"></i>
                  <span>100</span>
                  <p>Deleted</p>
                </div>
              </div>
            </div>

            <div class="box">
              <div class="box-section1">
                <div class="box-title">
                  <h2>Verification Process</h2>
                </div>
              </div>
              <div class="last-project-progress">
                <div class="last-project-progress-info">
                  <ul>
                    <li><span></span> Registered</li>
                    <li><span></span> Applied for Jobs</li>
                    <li><span></span> Profile Verified</li>
                    <li><span></span> Application Reviewed</li>
                    <li><span></span> Job Offer Received</li>
                  </ul>
                </div>
                <img src="/images/project.png" alt="" />
              </div>
            </div>
            <div class="box">
              <div class="box-section1">
                <div class="box-title">
                  <h2>Payment Process</h2>
                </div>
              </div>
              <div class="reminders-section2">
                <div class="reminders">
                  <h4>Check Payment Details</h4>
                  <p>Review the payment info.</p>
                </div>
                <div class="reminders">
                  <h4>Enter Billing Information</h4>
                  <p>Provide billing details.</p>
                </div>
                <div class="reminders">
                  <h4>Confirm Payment</h4>
                  <p>Verify and submit.</p>
                </div>
                <div class="reminders">
                  <h4>Receive Confirmation</h4>
                  <p>Get receipt confirmation.</p>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="box-section1">
                <div class="box-title">
                  <h2>Latest Post</h2>
                </div>
              </div>
              <div class="latest-post-section2">
                <div class="latest-post-person-info">
                  <img src="/images/avatar.png" alt="" />
                  <ul>
                    <li><h4>Zana Suleiman</h4></li>
                    <li><p>About 3 Hours Ago</p></li>
                  </ul>
                </div>
                <div class="post">
                  <p>
                    You Can Fool All Of The People Some Of The Time, And Some Of
                    The People All Of The Time, But You Can't Fool All Of The
                    People All Of The Time.
                  </p>
                </div>
                <div class="latest-post-likes-comments">
                  <ul>
                    <li>
                      <i class="fa-regular fa-heart heart"></i><span>1.8K</span>
                    </li>
                    <li>
                      <i class="fa-regular fa-comments"></i><span>500</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="box-section1">
                <div class="box-title">
                  <h2>Social Media Stats</h2>
                </div>
              </div>
              <div class="social-media-stats">
                <div class="media">
                  <div class="media-icon twitter">
                    <i class="fa-brands fa-twitter fa-2x"></i>
                  </div>
                  <ul>
                    <li class="twitter">90K Followers</li>
                    <li><a href="/#">Follow</a></li>
                  </ul>
                </div>

                <div class="media">
                  <div class="media-icon facebook">
                    <i class="fa-brands fa-facebook-f fa-2x"></i>
                  </div>
                  <ul>
                    <li class="facebook">2M Like</li>
                    <li><a href="/#">Like</a></li>
                  </ul>
                </div>

                <div class="media">
                  <div class="media-icon youtube">
                    <i class="fa-brands fa-youtube fa-2x"></i>
                  </div>
                  <ul>
                    <li class="youtube">1M Subs</li>
                    <li><a href="/#">Subscribe</a></li>
                  </ul>
                </div>

                <div class="media">
                  <div class="media-icon linkedin">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                  </div>
                  <ul>
                    <li class="linkedin">70K Followers</li>
                    <li><a href="/#">Follow</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="projects-box">
          <div class="box-section1">
            <div class="box-title">
              <h2>Projects</h2>
            </div>
          </div>
          <div class="projects-box-section2">
            <table>
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Finish Date</td>
                  <td>Client</td>
                  <td>Price</td>
                  <td>Team</td>
                  <td>Status</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Ministry Wikipedia</td>
                  <td>10 May 2022</td>
                  <td>Ministry</td>
                  <td>$5300</td>
                  <td>
                    <img src="/images/team-01.png" alt="" />
                    <img src="/images/team-02.png" alt="" />
                    <img src="/images/team-03.png" alt="" />
                    <img src="/images/team-04.png" alt="" />
                  </td>
                  <td><a href="/#" class="pending">Pending</a></td>
                </tr>
                <tr>
                  <td>Zana Shop</td>
                  <td>12 Oct 2021</td>
                  <td>Zana Company</td>
                  <td>$1500</td>
                  <td>
                    <img src="/images/team-01.png" alt="" />
                    <img src="/images/team-02.png" alt="" />
                    <img src="/images/team-03.png" alt="" />
                  </td>
                  <td><a href="/#" class="in-progress">In Progress</a></td>
                </tr>
                <tr>
                  <td>Bouba App</td>
                  <td>05 Sep 2021</td>
                  <td>Bouba</td>
                  <td>$800</td>
                  <td>
                    <img src="/images/team-01.png" alt="" />
                    <img src="/images/team-02.png" alt="" />
                  </td>
                  <td><a href="/#" class="completed">Completed</a></td>
                </tr>
                <tr>
                  <td>Mahmoud Website</td>
                  <td>22 May 2021</td>
                  <td>Mahmoud</td>
                  <td>$600</td>
                  <td>
                    <img src="/images/team-01.png" alt="" />
                    <img src="/images/team-02.png" alt="" />
                  </td>
                  <td><a href="/#" class="completed">Completed</a></td>
                </tr>
                <tr>
                  <td>Sayed Website</td>
                  <td>24 May 2021</td>
                  <td>Sayed</td>
                  <td>300</td>
                  <td>
                    <img src="/images/team-01.png" alt="" />
                    <img src="/images/team-02.png" alt="" />
                  </td>
                  <td><a href="/#" class="rejected">Rejected</a></td>
                </tr>
                <tr>
                  <td>Arena Application</td>
                  <td>01 Mar 2021</td>
                  <td>Arena Company</td>
                  <td>$2600</td>
                  <td>
                    <img src="/images/team-01.png" alt="" />
                    <img src="/images/team-02.png" alt="" />
                    <img src="/images/team-03.png" alt="" />
                    <img src="/images/team-04.png" alt="" />
                  </td>
                  <td><a href="/#" class="completed">Completed</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </div>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
