<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&amp;display=swap"
      rel="stylesheet"
    />
    <title>Application</title>
  </head>
  <body>
    <div class="page-content">
      <div class="sidebar">
        <div class="brand">
          <i class="fa-solid fa-xmark xmark"></i>
          <h3>Seeker</h3>
        </div>
        <ul>
          <li class="home1">
            <a href="../index.html" class="sidebar-link">
              <i class="fa-solid fa-house"></i>
              <span>Home</span>
            </a>
          </li>

          <li>
            <a href="./Profile.html" class="sidebar-link">
              <i class="fa-solid fa-user"></i>
              <span>Profile</span>
            </a>
          </li>

          <li>
            <a href="./Activites.html" class="sidebar-link">
              <i class="fa-solid fa-chart-line"></i>
              <span>Activities</span>
            </a>
          </li>

          <li>
            <a href="./Latest-event.html" class="sidebar-link">
              <i class="fa-solid fa-calendar-days"></i><span>Latest event</span>
            </a>
          </li>

          <li>
            <a href="./Application.html" class="sidebar-link">
              <i class="fa-solid fa-diagram-project fa-fw"></i
              ><span>Application</span>
            </a>
          </li>

          <li>
            <a href="./payment.html" class="sidebar-link">
              <i class="fa-regular fa-money-bill-1"></i>
              <span>Payment</span>
            </a>
          </li>

          <li>
            <a href="./settings.html" class="sidebar-link">
              <i class="fa-solid fa-gear fa-fw"></i
              ><span>Settings</span>
            </a>
          </li>

          <li>
            <a href="./message.html" class="sidebar-link">
              <i class="fa-solid fa-message"></i> <span>messages</span>
            </a>
          </li>

          <li>
            <a href="./help.html" class="sidebar-link">
              <i class="fa-solid fa-handshake-angle"></i><span>Help & Support</span>
            </a>
          </li>
          <button id="submit1">LogOut</button>
        </ul>
      </div>
      <main>
        <div class="header">
          <i class="fa-solid fa-bars bar-item"></i>
          <div class="search">
            <input type="search" placeholder="Type A Keyword" />
          </div>

          <div class="profile">
            <span class="bell"><i class="fa-regular fa-bell fa-lg"></i></span>
            <img src="../images/avatar.png" alt="No Image" />
          </div>
        </div>
        <div class="main-content">
          <div class="title">
            <h1>Application</h1>
          </div>
          <div class="friends-main-boxes">
            <div class="friends-box-card">
              <div class="friends-box-card-contact">
                <i class="fa-solid fa-phone"></i>
                <i class="fa-regular fa-envelope"></i>
              </div>
              <div class="friends-box-card-info">
                <img src="../images/friend-01.jpg" alt="" />
                <h4>Ahmed Nasser</h4>
                <p>JavaScript Developer</p>
              </div>
              <div class="friends-box-card-body">
                <h1>VIP</h1>
                <ul>
                  <li>
                    <i class="fa-regular fa-face-smile"></i
                    ><span>99 Friends</span>
                  </li>
                  <li>
                    <i class="fa-solid fa-code-commit"></i
                    ><span>15 Projects</span>
                  </li>
                  <li>
                    <i class="fa-regular fa-newspaper"></i
                    ><span>25 Articles</span>
                  </li>
                </ul>
              </div>
              <div class="friends-box-card-footer">
                <p>Joined 02/10/2021</p>
                <div class="friends-box-card-footer-buttons">
                  <a href="/#">Profile</a>
                  <a href="/#">Remove</a>
                </div>
              </div>
            </div>
      </main>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
