<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/all.min.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      rel="stylesheet"
    />
    <title>Projects</title>
  </head>
  <body>
    <div class="page-content">
      <div class="sidebar">
        <div class="brand">
          <i class="fa-solid fa-xmark xmark"></i>
          <h3>Seeker</h3>
        </div>
        <ul>
          <li class="home1">
            <a href="../index.html" class="sidebar-link">
              <i class="fa-solid fa-house"></i>
              <span>Home</span>
            </a>
          </li>

          <li>
            <a href="./Profile.html" class="sidebar-link">
              <i class="fa-solid fa-user"></i>
              <span>Profile</span>
            </a>
          </li>

          <li>
            <a href="./Activites.html" class="sidebar-link">
              <i class="fa-solid fa-chart-line"></i>
              <span>Activities</span>
            </a>
          </li>

          <li>
            <a href="./Latest-event.html" class="sidebar-link">
              <i class="fa-solid fa-calendar-days"></i><span>Latest event</span>
            </a>
          </li>

          <li>
            <a href="./Application.html" class="sidebar-link">
              <i class="fa-solid fa-diagram-project fa-fw"></i
              ><span>Application</span>
            </a>
          </li>

          <li>
            <a href="./payment.html" class="sidebar-link">
              <i class="fa-regular fa-money-bill-1"></i>
              <span>Payment</span>
            </a>
          </li>

          <li>
            <a href="./settings.html" class="sidebar-link">
              <i class="fa-solid fa-gear fa-fw"></i
              ><span>Settings</span>
            </a>
          </li>

          <li>
            <a href="./message.html" class="sidebar-link">
              <i class="fa-solid fa-message"></i> <span>messages</span>
            </a>
          </li>

          <li>
            <a href="./help.html" class="sidebar-link">
              <i class="fa-solid fa-handshake-angle"></i><span>Help & Support</span>
            </a>
          </li>
          <button id="submit1">LogOut</button>
        </ul>
      </div>
      <main>
        <div class="header">
          <i class="fa-solid fa-bars bar-item"></i>
          <div class="search">
            <input type="search" placeholder="Type A Keyword" />
          </div>

          <div class="profile">
            <span class="bell"><i class="fa-regular fa-bell fa-lg"></i></span>
            <img src="../images/avatar.png" alt="No Image" />
          </div>
        </div>
        <div class="main-content">
          <div class="title">
            <h1>Projects</h1>
          </div>

          <div class="main-content-boxes projects-main-content-boxes">
            <div class="box">
              <img src="images/+" alt="" height="100px" width="100px">
              <div class="projects-box-section1">
                <div class="projects-box-title">
                  <span>Youtube Fanfest</span>
                  <p><ul> 
                    Requirements 6 Male Promoter
                    <li><i class="fa-solid fa-calendar-days"></i>  Date:- 1<sup>st</sup> August  </li>
                    <li><i class="fa-solid fa-clock"></i>   Timings: 9am to 6pm </li>
                    <li><i class="fa-solid fa-location-dot"></i>   Location - Jio Convenient Centre Mumbai </li>
                    <li><i class="fa-solid fa-wallet"></i>  Payment: Rs:700
                  
                      </li>
                    <li><i class="fa-solid fa-person-dress"></i>  Dresscode: Casual Dresscode</li>
                      <ul></p>

                <div class="profile-skills">
                  <div class="row">

                  </div>
                </div>
                <div class="progress-holder">
                  <div class="progress">
                    <button class="apply">Apply Now</button>
                    <span></span>
                  </div>
                  <span>Payment: 700</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../js/script.js"></script>
  </body>
</html>
